<div class="table-parent">
    <table>
        <!-- Revenue --->
        <thead>
            <tr>
                <th>Initial Balance</th>
                <th>$</th>
                <th>%</th>
                <th>Comments</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Account Balance</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 1}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <td>Revenue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>CUSA Funding</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 2}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>CUSF Sponsorship</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 2}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Events</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 2}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Donations</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 2}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Other</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 2}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Total Revenue</td>
                <td></td>
                <td></td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Net Total</td>
                <td></td>
                <td></td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>
        </tbody>

        <!-- Expenses --->

        <thead>
            <tr>
                <td>Expenses</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Accounting Fees</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Events</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Practice Fees</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Competition Fees</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>CUSF Membership</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Range Membership</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Other</td>
                <td><input class="values"></td>
                <td>{{calcPercent fields 1 3}}</td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Total Expenses</td>
                <td></td>
                <td></td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>

            <tr>
                <td>Net Total</td>
                <td></td>
                <td></td>
                <td><input></td>
                <td><input type=checkbox class="notes"></td>
            </tr>
        </tbody>

    </table>

    <div id="notesSpace">

    </div>
</div>